<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active">Add a player</li>
</ol>
  <div class="nes-container">

    <p *ngIf="feedback.message" class="mt-3 nes-balloon from-left nes-pointer alert-{{feedback.type}}">
      {{ feedback.message }}
    </p>

    <form  #editForm="ngForm" (ngSubmit)="save()">

        <div class="nes-field mb-3">
          <label for="name">Enter your name:</label>
          <input  class="mt-2" [(ngModel)]="player.name" id="name" name="name" class="nes-input" required #name="ngModel"
                 [ngClass]="{'is-invalid': name.touched && name.invalid,  'is-valid': name.touched && name.valid}">
        </div>

        <button [ngClass]="{'is-disabled': !editForm.form.valid, 'is-success': editForm.form.valid}" type="submit" title="Name must be supplied!" class="nes-btn">Create player</button>
      </form>

    </div>
