.redcircle {
  width: 5em;
  height: 5em;
  background: orangered;
  border-radius: 50%;
}
.yellowcircle {
  width: 5em;
  height: 5em;
  background: yellow;
  border-radius: 50%;
}
.whitecircle {
  width: 5em;
  height: 5em;
  background: white;
  border-radius: 50%;
}
.container{
  background: blue;
}
.columnhover:hover{
  background-color: lightblue;
}
.not-allowed {
  cursor: not-allowed;
}

.redtoken {
  width: 20px;
  height: 20px;
  background: orangered;
  border-radius: 50%;
  border:1px dashed black;
  display: inline-block;
}
.yellowtoken {
  width: 20px;
  height: 20px;
  background: yellow;
  border-radius: 50%;
  border:1px dashed black;
  display: inline-block;
}
