.redcircle {
  width: 100px;
  height: 100px;
  background: orangered;
  border-radius: 50%
}
.yellowcircle {
  width: 100px;
  height: 100px;
  background: yellow;
  border-radius: 50%
}
.whitecircle {
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 50%
}
.container{
  background: blue;
}
.columnhover:hover{
  background-color: lightblue;
}
.not-allowed {
  cursor: not-allowed;
}
