<ol class="breadcrumb">
  <li class="breadcrumb-item active">Connect Four game</li>
</ol>
<div class="nes-container">


  <p *ngIf="feedback.message" class="mt-3 nes-balloon from-left nes-pointer alert-{{feedback.type}}">
    {{ feedback.message }}
  </p>

  <div>{{game.currentPlayer.name}}, drop a token!</div>

  <div class="container mt-2">
    <div class="row">
      <div *ngFor="let item of game.board" class="col-sm columnhover pt-2 pb-2">
<div (click)="game.gameWon == false && dropToken(game.board.indexOf(item))">

  <div *ngFor="let subitem of item.reverse()">
          <div>
          <p *ngIf="subitem != null && subitem.toString() == game.player1.id" class="redcircle"></p>
          <p *ngIf="subitem != null && subitem.toString() == game.player2.id" class="yellowcircle"></p>
            <p *ngIf="subitem == null" class="whitecircle"></p>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>








  <p>{{game.gameWon}}</p>





</div>

